
<div>
        <div class="form-group justify-content-center" id="cardDiv" >
              
                <mat-card class="card" *ngFor="let i of random; let n=index" >
                        <div style="display: flex;" >
                               
                                <span style="white-space: pre-line"  >
                                        {{ questions["q"+i]["q" + i]["h"+i] }}
                                        hint: you can remove a given character from String by converting it into a
                                        character
                                        array and then using substring() method for removing them from output string.
                                </span>
                                <div style="float:right; width:20%; margin-top: auto; margin-bottom: auto;">
                                        <mat-icon style="float:right; height:30px" (click)="selected(files[n])"><i class="material-icons">arrow_forward_ios</i>
                                        </mat-icon>
                                      
                                </div>
                        </div>
                </mat-card>


        </div>
</div>