
  <div class="col-md-4 col-md-offset-4" id="login">
  
    <section id="inner-wrapper" class="login">
      <article>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope"> </i></span>
              <input type="email" class="form-control" placeholder="Email Address*" formControlName="email" [ngClass]="{ 'is-invalid': submitted && loginForm.get('email').errors }">

                <div *ngIf="submitted && loginForm.get('email').errors && loginForm.get('email').touched" class="invalid-feedback">
                <div *ngIf="loginForm.get('email').errors.email">Email must be a valid email address</div>
                <div *ngIf="loginForm.get('email').errors.required">email is required</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-key"> </i></span>
              <input type="password" class="form-control" placeholder="Password*" formControlName="password"  [ngClass]="{ 'is-invalid': submitted && loginForm.get('password').errors }">
                <div *ngIf="submitted && loginForm.get('password').errors && loginForm.get('password').touched" class="invalid-feedback">
                  <div *ngIf="loginForm.get('password').errors.required">password is required</div>
              </div>
            </div>
          </div>
          
          
          <button type="submit" class="btn btn-dark btn-block" style="margin-top: 20px;"><mat-icon style="vertical-align: middle; margin-right: 6px;align-items: center;" 
            class="material-icons">forward</mat-icon>Login</button>
        </form>
        <button type="submit" class="btn btn-dark btn-block"  style="margin-top: 20px;" (click)="signUp()" ><mat-icon style="vertical-align: middle; margin-right: 6px;align-items: center;" 
          class="material-icons">person_add</mat-icon> Sign Up</button>
      </article>
    </section>
  </div>