
<div class="frame1" >
    
        <ace-editor #editor style="height: 100%; display: inline-block;">
        </ace-editor>
</div>

<div class="frame" >
    <!-- [src]="urlsafe" src="http://123" -->
    <iframe id="gotty" align="top" height="90%" width="100%"   [src]="urlsafe" display="inline-block"></iframe>
    <button id="save" class="btn btn-primary btn-lg" (click)='getValue()' >save</button>
    <button id="back" class="btn btn-dark btn-lg"  (click)='questionsPage()'><mat-icon style="vertical-align: middle; margin-right: 6px;align-items: center;" 
        class="material-icons">keyboard_backspace</mat-icon></button>
    <button id="endTest" class="btn btn-primary btn-lg" (click)='runtest()'>End Test</button>
</div>
<!-- </ng-template> -->