<div id="name">
    <textarea id="textArea" rows="3">
        Enter Question Name here...
    </textarea>
    <button type="button" value="save" id="save">Save</button>
</div>
<div id="question">
    <textarea id="textArea" rows="3">
        Enter Question here...
    </textarea>
    <button type="button" value="save" id="save">Save</button>
</div>
<div id="testcases">
    <textarea id="textArea" rows="3">
    Enter Input File here
    </textarea>
    <button type="button" value="save" id="save">Save</button>
</div>
<div id="ans">
    <textarea id="textArea" rows="3">
    Enter Output File Tag here...
    </textarea>
    <button type="button" value="save" id="save">Save</button>
</div>